<!--En startsida som förklarar vart användaren har kommit och listar några frågesporter som finns att göra (hitta på helt fritt, vi kommer ersätta detta med data från en riktig databas senare). Skriv ditt namn så man vet vem som gjort sajten!-->

<!DOCTYPE html>
<html>
<head>
	<title>Quiz - Start</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/stylesheet.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row well well-lg">
			<h1>Geografi-Quiz</h1>
			<p>
				Du har kommit till min lista med frågesporter. 
			</p>
			<div class="list-group">
				{% for quiz in quizzes%}
				<a href="{% url "quiz_page" quiz.quiz_number %}" class="list-group-item">{{quiz.name}}</a>
				{% endfor %}
			</div>
		</div>
		<div>
			© Karin Nilsson
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>