ul {
	list-style-position: inside;
}

body {
	background-image: url(blommor.jpg);
	background-size: 100%;
}

.container {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: table;
	text-align: center;
}

.funkyradio div {
	clear: both;
	overflow: hidden;
}

.funkyradio label {
	width: 100%;
	max-width: 700px;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
	font-weight: normal;
}

.list-group-item {
	margin: auto;
	margin-top: 2em;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 700px;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
	font-weight: normal;
}

.funkyradio input[type="radio"]:empty {
	display: none;
}

.funkyradio input[type="radio"]:empty ~ label {
	position: relative;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label {
	color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before {
	text-indent: .9em;
	color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label {
	color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before {
	text-indent: .9em;
	color: #333;
	background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before {
	color: #fff;
	background-color: #337ab7;
}

.btn-pink {
  background-color: hsl(0, 100%, 82%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fecccc", endColorstr="#fea3a3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fecccc), to(#fea3a3));
  background-image: -moz-linear-gradient(top, #fecccc, #fea3a3);
  background-image: -ms-linear-gradient(top, #fecccc, #fea3a3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fecccc), color-stop(100%, #fea3a3));
  background-image: -webkit-linear-gradient(top, #fecccc, #fea3a3);
  background-image: -o-linear-gradient(top, #fecccc, #fea3a3);
  background-image: linear-gradient(#fecccc, #fea3a3);
  border-color: #fea3a3 #fea3a3 hsl(0, 100%, 80%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;
}

.btn-pink:hover {

  background-color: hsl(0, 100%, 76%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#feadad", endColorstr="#ff8484");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#feadad), to(#ff8484));
  background-image: -moz-linear-gradient(top, #feadad, #ff8484);
  background-image: -ms-linear-gradient(top, #feadad, #ff8484);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feadad), color-stop(100%, #ff8484));
  background-image: -webkit-linear-gradient(top, #feadad, #ff8484);
  background-image: -o-linear-gradient(top, #feadad, #ff8484);
  background-image: linear-gradient(#feadad, #ff8484);
  border-color: #ff8484 #ff8484 hsl(0, 100%, 74%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;

}

.btn-pink:active {
  border-color: #ff8484 #ff8484 hsl(0, 100%, 74%);
}